/* Lavanderia - Sturdy */
@font-face {
	font-family: 'lavanderia';
	src: url('assets/fonts/lavanderia_sturdy-webfont.eot');
	src: url('assets/fonts/lavanderia_sturdy-webfont.eot?#iefix') format('embedded-opentype'),
		 url('assets/fonts/lavanderia_sturdy-webfont.woff') format('woff'),
		 url('assets/fonts/lavanderia_sturdy-webfont.ttf') format('truetype'),
		 url('assets/fonts/lavanderia_sturdy-webfont.svg#lavanderia_sturdy-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Haymaker - Regular */
@font-face {
	font-family: 'haymaker';
	src: url('assets/fonts/haymaker-webfont.eot');
	src: url('assets/fonts/haymaker-webfont.eot?#iefix') format('embedded-opentype'),
		 url('assets/fonts/haymaker-webfont.woff') format('woff'),
		 url('assets/fonts/haymaker-webfont.ttf') format('truetype'),
		 url('assets/fonts/haymaker-webfont.svg#haymaker-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Abraham Lincoln - Regular */
@font-face {
	font-family: 'lincoln';
	src: url('assets/fonts/abrahamlincoln-webfont.eot');
	src: url('assets/fonts/abrahamlincoln-webfont.eot?#iefix') format('embedded-opentype'),
		 url('assets/fonts/abrahamlincoln-webfont.woff') format('woff'),
		 url('assets/fonts/abrahamlincoln-webfont.ttf') format('truetype'),
		 url('assets/fonts/abrahamlincoln-webfont.svg#abrahamlincoln-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}