.icon-bottom-flourish-danger { background-image: url('png/bottom-flourish-danger.png'); background-repeat: no-repeat; }

.icon-bottom-flourish-light { background-image: url('png/bottom-flourish-light.png'); background-repeat: no-repeat; }

.icon-bottom-flourish-success { background-image: url('png/bottom-flourish-success.png'); background-repeat: no-repeat; }

.icon-bottom-flourish { background-image: url('png/bottom-flourish.png'); background-repeat: no-repeat; }

.icon-check-icon-danger { background-image: url('png/check-icon-danger.png'); background-repeat: no-repeat; }

.icon-check-icon-light { background-image: url('png/check-icon-light.png'); background-repeat: no-repeat; }

.icon-check-icon-success { background-image: url('png/check-icon-success.png'); background-repeat: no-repeat; }

.icon-check-icon { background-image: url('png/check-icon.png'); background-repeat: no-repeat; }

.icon-finger-danger { background-image: url('png/finger-danger.png'); background-repeat: no-repeat; }

.icon-finger-light { background-image: url('png/finger-light.png'); background-repeat: no-repeat; }

.icon-finger-success { background-image: url('png/finger-success.png'); background-repeat: no-repeat; }

.icon-finger { background-image: url('png/finger.png'); background-repeat: no-repeat; }

.icon-fork-danger { background-image: url('png/fork-danger.png'); background-repeat: no-repeat; }

.icon-fork-light { background-image: url('png/fork-light.png'); background-repeat: no-repeat; }

.icon-fork-success { background-image: url('png/fork-success.png'); background-repeat: no-repeat; }

.icon-fork { background-image: url('png/fork.png'); background-repeat: no-repeat; }

.icon-gift-icon-danger { background-image: url('png/gift-icon-danger.png'); background-repeat: no-repeat; }

.icon-gift-icon-light { background-image: url('png/gift-icon-light.png'); background-repeat: no-repeat; }

.icon-gift-icon-success { background-image: url('png/gift-icon-success.png'); background-repeat: no-repeat; }

.icon-gift-icon { background-image: url('png/gift-icon.png'); background-repeat: no-repeat; }

.icon-heart-danger { background-image: url('png/heart-danger.png'); background-repeat: no-repeat; }

.icon-heart-light { background-image: url('png/heart-light.png'); background-repeat: no-repeat; }

.icon-heart-success { background-image: url('png/heart-success.png'); background-repeat: no-repeat; }

.icon-heart { background-image: url('png/heart.png'); background-repeat: no-repeat; }

.icon-invited-banner-danger { background-image: url('png/invited-banner-danger.png'); background-repeat: no-repeat; }

.icon-invited-banner-light { background-image: url('png/invited-banner-light.png'); background-repeat: no-repeat; }

.icon-invited-banner-success { background-image: url('png/invited-banner-success.png'); background-repeat: no-repeat; }

.icon-invited-banner { background-image: url('png/invited-banner.png'); background-repeat: no-repeat; }

.icon-map-icon-danger { background-image: url('png/map-icon-danger.png'); background-repeat: no-repeat; }

.icon-map-icon-light { background-image: url('png/map-icon-light.png'); background-repeat: no-repeat; }

.icon-map-icon-success { background-image: url('png/map-icon-success.png'); background-repeat: no-repeat; }

.icon-map-icon { background-image: url('png/map-icon.png'); background-repeat: no-repeat; }

.icon-rsvp-button-bg-danger { background-image: url('png/rsvp-button-bg-danger.png'); background-repeat: no-repeat; }

.icon-rsvp-button-bg-light { background-image: url('png/rsvp-button-bg-light.png'); background-repeat: no-repeat; }

.icon-rsvp-button-bg-success { background-image: url('png/rsvp-button-bg-success.png'); background-repeat: no-repeat; }

.icon-rsvp-button-bg { background-image: url('png/rsvp-button-bg.png'); background-repeat: no-repeat; }

.icon-spoon-danger { background-image: url('png/spoon-danger.png'); background-repeat: no-repeat; }

.icon-spoon-light { background-image: url('png/spoon-light.png'); background-repeat: no-repeat; }

.icon-spoon-success { background-image: url('png/spoon-success.png'); background-repeat: no-repeat; }

.icon-spoon { background-image: url('png/spoon.png'); background-repeat: no-repeat; }

.icon-top-flourish-danger { background-image: url('png/top-flourish-danger.png'); background-repeat: no-repeat; }

.icon-top-flourish-light { background-image: url('png/top-flourish-light.png'); background-repeat: no-repeat; }

.icon-top-flourish-success { background-image: url('png/top-flourish-success.png'); background-repeat: no-repeat; }

.icon-top-flourish { background-image: url('png/top-flourish.png'); background-repeat: no-repeat; }

