.icon-bottom-flourish-success { background-image: url('png/bottom-flourish-success.png'); background-repeat: no-repeat; }

.icon-bottom-flourish { background-image: url('png/bottom-flourish.png'); background-repeat: no-repeat; }

.icon-check-icon-success { background-image: url('png/check-icon-success.png'); background-repeat: no-repeat; }

.icon-check-icon { background-image: url('png/check-icon.png'); background-repeat: no-repeat; }

.icon-finger-success { background-image: url('png/finger-success.png'); background-repeat: no-repeat; }

.icon-finger { background-image: url('png/finger.png'); background-repeat: no-repeat; }

.icon-fork-success { background-image: url('png/fork-success.png'); background-repeat: no-repeat; }

.icon-fork { background-image: url('png/fork.png'); background-repeat: no-repeat; }

.icon-gift-icon-success { background-image: url('png/gift-icon-success.png'); background-repeat: no-repeat; }

.icon-gift-icon { background-image: url('png/gift-icon.png'); background-repeat: no-repeat; }

.icon-heart-success { background-image: url('png/heart-success.png'); background-repeat: no-repeat; }

.icon-heart { background-image: url('png/heart.png'); background-repeat: no-repeat; }

.icon-invited-banner-success { background-image: url('png/invited-banner-success.png'); background-repeat: no-repeat; }

.icon-invited-banner { background-image: url('png/invited-banner.png'); background-repeat: no-repeat; }

.icon-map-icon-success { background-image: url('png/map-icon-success.png'); background-repeat: no-repeat; }

.icon-map-icon { background-image: url('png/map-icon.png'); background-repeat: no-repeat; }

.icon-rsvp-button-bg-success { background-image: url('png/rsvp-button-bg-success.png'); background-repeat: no-repeat; }

.icon-rsvp-button-bg { background-image: url('png/rsvp-button-bg.png'); background-repeat: no-repeat; }

.icon-spoon-success { background-image: url('png/spoon-success.png'); background-repeat: no-repeat; }

.icon-spoon { background-image: url('png/spoon.png'); background-repeat: no-repeat; }

.icon-top-flourish-success { background-image: url('png/top-flourish-success.png'); background-repeat: no-repeat; }

.icon-top-flourish { background-image: url('png/top-flourish.png'); background-repeat: no-repeat; }

