@import 'semantic-grid/stylesheets/less/_grid';
@import 'less-mixins/_mixins';
@import 'variables/_variables';

// 320px--------------------------------------------------------------------------
@media only screen and ( min-width: 320px ) {

	.main_outer {
		.row(5);
	}

	#menu-menu {
		display: none;
		width: 100%;
		margin: 0;
	}

	.menu {

		&-wrap {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}

		&-menu-container {
			width: 100%;
			border: none;
			padding: 0;
		}

		&-mb-link {
			display: block;
		}

		&-item {
			display: block;
			text-align: left;
			padding: 10px 5px;
			.font-size(@base-size-h5);

			a {
				display: block;
			}
		}
	}

	.icon {

		&-invited-banner {
			zoom: .67;
			margin-top: 60px;
			.transform(scale(.7));
		}

		&-wedding-badge {
			margin-top: -45px;
			.transform(scale(.7));
		}
	}

	.head {

		&_names {
			margin-top: -35px;
			.font-size(@base-size-mb-h1);

			&_left,
			&_right {
				position: relative;
			}

			&_left {

				margin-bottom: 15px;

				.head_names_last {
					right: 75px;
				}
			}

			&_right {
				.head_names_last {
					right: 75px;
				}
			}

			&_last {
				bottom: 22px;
				.font-size(@base-size-sm);
			}

			&_amp {
				position: absolute;
				top: 84px;
				.font-size(@base-size-lg);
			}
		}

		&_title {
			
			.row (5);

			:before,
			:after {
				.transform(scale(.7));
			}

			&:before {
				left: 40px;
				.rotatescale(rotate(-13deg), scale(.5));
			}

			&:after {
				right: 40px;
				.rotatescale(rotate(13deg), scale(.5));
			}
		}
	}

	.main_mid {

		&:before,
		&:after {
			background-position: -285px 0;
			.row(5);
		}

		&:before {
			top: -18px;
		}

		&:after {
			bottom: -18px;
		}

		p {
			.font-size(@base-font-size);
		}

		h1 {
			.font-size(@base-size-mb-h2);
		}

		.hotel-item {
			.row(3.55);

			h3 {
				text-align: center;
				margin-top: 38px;
				.font-size(@base-font-size);

				a {
					display: block;
				}

				&:before {
					right: 73px;
					top: -8px;
					.transform(scale(.5));
				}
			}

			p {
				.font-size(@base-font-size);
			}

			.item_descr {
				padding-right: 0;
			}

			&:after {
				left: 38% - 9.8;
				bottom: -40px;
				.transform(scale(.7));
			}
		}

		#rsvp {

				&Plugin {
				text-align: left;
			}
		}

		.rsvp {

			&-btn {
				margin-left: 33px;
			}

			&-already-note {
				.font-size(@base-size-sm1);
			}

			&-attend {

				&-wrap {
					background-image: none;
				}

				&-label {
					margin-bottom: 8px;
				}
			}

			&-associated {

				&-attending-question {
					.font-size(@base-size-sm);
				}
			}

			&-first-name {
				.font-size(@base-size-med);
			}

			&-more {
				.rsvpParagraph {
					.font-size(@base-size-sm);
				}
			}
		}
	}

		.gbwedding {

		&-rsvp {

			&:before,
			&:after {
				display: none;
			}
		}

		&-location {
			margin-top: -20px;
			zoom: .8;
			.font-size(@base-size-h5);
		}

		&-eatdrink {
			
			margin-top: -10px;
			.font-size(@base-size-h4);

			&:before,
			&:after {
				display: none;
			}
		}

		&-date {
			padding-top: 25px;
			margin-top: -50px;
			zoom: .5;
			.transform(scale(.9));
			.font-size(@base-size-h2);
		}

		&-rsvp {
			margin-top: 0;
		}

		&-image-wrap {
			height: 94px;
			.row(3.85);

			img {
				clip: rect(1px, 215px, 89px, 5px);
				left: 0;
				height: auto;
				.column(3.85);
			}

			&:before,
			&:after {
				display: none;
			}
		}

		&-ribbon {

				&-btn {

					&-wrap {
						width: 131px;
					}
				}
			}

		&-page-bottom {
		
			.row(3.55);
		
			h1 {
				padding-left: 0;
				.font-size(@base-font-size);
			}

			&:after {
				.transform(scale(.7));
				left: 35% - 9.8;
			}

			&-wedding {
				
				h1 {
					
					padding-top: 25px;

					&:before {
						.transform(scale(.5));
						top: -25px;
						left: 78px;
					}
				}
			}

			&-rsvp {

				p {

					text-align: center;
					padding-left: 0;
					margin-top: 35px;

					&:before {
						zoom: 1;
						top: -33px;
						left: 85px;
						.transform(scale(.7));
					}
				}
			}

			&-registry {

				p {
					
					margin-top: 41px;
					padding-left: 0;
					text-align: center;

					&:before {

						top: -36px;
						left: 87px;
						.transform(scale(.7));
					}
				}
			}
		}

		&-contentbg {
			
			h2,
			h4 {
				.font-size(@base-size-h5);
			}

			p {
				
			}

			h5 {

				.font-size(@base-size-sm);
			}
		}
	}

	.registry {

		&-shop-wrap {
			display: block;
			padding: 13px 27px;
			margin: 30px auto;
			width: 100% / 2.5 - 1px;
		}
	}

	.char21,
	.char22 {
		.font-size(@base-size-sm1);
	}
}


// 480px--------------------------------------------------------------------------
@media only screen and ( min-width: 480px ) {

	.main_outer {
		.row(7);
	}

	.head {
		&_names {
			
			margin-top: -15px;
			.font-size(@base-size-mb-h4);

			&_left {

				.head_names_last {
					right: 106px;
				}
			}

			&_right {

				.head_names_last {
					right: 106px;
				}
			}

			&_last {
				
				bottom: 32px;
				.font-size(@base-size-h4);
			}

			&_amp {
				
				top: 100px;
				.font-size(@base-size-mb-h1);
			}
		}

		&_title {

			&:before {
				left: 0;
				.rotatescale(rotate(-13deg), scale(1));
			}

			&:after {
				right: 0;
				.rotatescale(rotate(13deg), scale(1));
			}
		}
	}
	
	.icon {

		&-invited-banner {
			zoom: .66;
			margin-top: 75px;
			.transform(scale(1));
		}

		&-wedding-badge {
			margin-top: -20px;
			.transform(scale(1));
		}
	}

	.gbwedding {

		&-location {

			.font-size(@base-size-h3);
		}

		&-eatdrink {

			.font-size(@base-size-mb-h2);
		}

		&-date {

			.font-size(@base-size-h2);
			.transform(scale(1));
		}

		&-rsvp {

			&:before,
			&:after {
				display: block;
				.transition(none);
			}

			&:before {

				left: 26px;
			}

			&:after {

				right: 26px;
			}

			&:hover {

				&:before {

					left: 26px;
				}

				&:after {

					right: 26px;
				}
			}
		}

		&-image-wrap {
			
			height: 96px;
			.row(4.8);

			img {
				
				clip: rect(2px, 269px, 89px, 5px);
				.column(4.8);
			}

			&:before,
			&:after {
				display: none;
			}
		}

		&-page-bottom {

			.row(6);

			h1 {

				.font-size(@base-size-sm);
			}
		}
	}

	.main_mid {

		&:before,
		&:after {

			background-position: -399px 0;
			.row(7);
		}

		h1 {
			.font-size(@base-size-med);
		}

		p {
			.font-size(@base-size-h5);
		}
	}

	.char21,
	.char22 {
		.font-size(@base-size-sm);
	}
}

// 640px--------------------------------------------------------------------------
@media only screen and ( min-width: 640px ) {

	.main_outer {
		.row(10);
	}

	#menu-menu {
		display: block;
		.row(8.4);
	}

	.menu {

		&-wrap {
			position: relative;
			.row(8.4);
		}

		&-menu-container {
			padding: 3px 0;
			.row(8.4);
			.bordered(1px, dashed, @black);
		}

		&-mb-link {
			display: none;
		}

		&-item {
			display: inline-block;
			text-align: center;
			padding: 10px 15px;
			border-bottom: none;
			.font-size(@base-size-sm1);

			a {
				display: inline-block
			}
		}
	}

	.icon {

		&-invited-banner {
			zoom: 1;
			margin-top: 20px;
			display: block;
			.transform(scale(1));
		}

		&-wedding-badge {
			display: block;
			margin-top: -30px;
			.transform(scale(1));
		}
	}

	.head {

		&_names {
			margin-top: -30px;
			.font-size(@base-size-h1);

			&_left,
			&_right {
				position: relative;
				display: inline-block;
			}

			&_last {
				bottom: 37px;
				.font-size(@base-size-h3);
			}

			&_left {

				margin-bottom: 0;

				.head_names_last {
					right: 34px;
				}
			}

			&_right {
				.head_names_last {
					right: 22px;
				}
			}

			&_amp {
				position: relative;
				top: 0;
				.font-size(@base-size-h1);
			}
		}

		&_title {
			
			.row(10);

			:before,
			:after {
				.transform(scale(1));
			}

			&:before {
				left: 134px;
				.rotatescale(rotate(-13deg), scale(1));
			}

			&:after {
				right: 134px;
				.rotatescale(rotate(13deg), scale(1));
			}
		}
	}

	.main_mid {

		&:before,
		&:after {
			background-position: -570px 0;
			.row(10);
		}

		&:before {
			top: -37px;
		}

		&:after {
			bottom: -37px;
		}

		h1 {
			.font-size(@base-size-lg);
		}

		p {
			
			.font-size(@base-size-sm);
		}

		.hotel-item {
			.row(7.6);

			h3 {
				text-align: left;
				position: relative;
				margin-top: 10px;
				.font-size(@base-size-sm);

				a {
					display: inline;
				}

				&:before {
					right: 35px;
					top: 25px;
					.transform(scale(1));
				}
			}

			p {
				.font-size(@base-size-sm);
			}

			.item_descr {
				padding-right: 100px;
			}

			&:after {
				left: 50% - 9.8;
				bottom: -55px;
				.transform(scale(1));
			}
		}

		#rsvp {

				&Plugin {
				text-align: center;
			}
		}

		.rsvp {

			&-btn {
				margin:0 auto;
			}

			&-already-note {
				.font-size(@base-size-h4);
			}

			&-attend {

				&-wrap {
					.sprite-image(@radio-bg);
				}

				&-label {
					margin-bottom: 30px;
				}
			}

			&-associated {

				&-attending-question {
					.font-size(@base-size-h5);
				}
			}

			&-first-name {
				.font-size(@base-size-lg);
			}

			&-more {
				.rsvpParagraph {
					.font-size(@base-size-h4);
				}
			}
		}
	}

	.gbwedding {

		&-rsvp {

			&:before,
			&:after {
				display: block;
				.transition(all, ease-in-out, .4s);
			}

			&:before {
				left: 60px;
			}

			&:after {
				right: 60px;
			}

			&:hover {
				&:before {
					left: 100px;
				}

				&:after {
					right: 100px;
				}
			}
		}

		&-location {
			margin-top: 25px;
			zoom: 1;
			.font-size(@base-size-h3);
		}

		&-eatdrink {
			
			margin-top: -15px;
			.font-size(@base-size-med);

			&:before,
			&:after {
				display: block;
			}
		}

		&-date {
			padding-top: 30px;
			margin-top: -40px;
			zoom: 1;
			.font-size(@base-size-lg);
			.transform(scale(1));
		}

		&-rsvp {
			margin-top: -20px;
		}

		&-image-wrap {
			height: 165px;
			.row(7.73);

			img {
				left: 21px;
				clip: rect(3px, 396px, 155px, 4px);
				.column(7.1);

			}

			&:before,
			&:after {
				display: block;
			}
		}

		&-ribbon {

				&-btn {

					&-wrap {
						width: 90px;
					}
				}
			}

		&-page-bottom {
			
			.row(7.65);

			h1 {
				.font-size(@base-size-sm);
			}

			&:after {
				.transform(scale(1));
				left: 50% - 9.8;
			}

			&-wedding {

				h1 {
					
					padding-top: 0;
					padding-left: 50px;
					

					&:before {
						.transform(scale(1));
						top: -4px;
						left: 15px;
					}
				}
			}

			&-rsvp {

				p {

					text-align: left;
					padding-left: 60px;
					margin-top: 15px;

					&:before {
						zoom: 1;
						top: 4px;
						left: 15px;
						.transform(scale(1));
					}
				}
			}

			&-registry {

				p {
					
					padding-left: 40px;
					margin-top: 15px;
					text-align: left;

					&:before {
						
						top: -6px;
						left: 0;
						.transform(scale(1));
					}
				}
			}
		}

		&-contentbg {

			h2,
			h4 {
				padding: 0 80px;
				.font-size(@base-size-h4);
			}

			p {
				
			}

			h5 {
				padding: 0 95px;
				.font-size(@base-size-h5);
			}
		}
	}

	.registry {

		&-shop-wrap {
			display: inline-block;
			padding: 2px 2px;
			border-radius: 100%;
			width: 100% / 3 - 12px;
			margin-bottom: 60px;
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	.char21,
	.char22 {
		.font-size(@base-size-h3);
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
					(min--moz-device-pixel-ratio: 1.5), 
					(min-resolution: 1.5dppx) {

}